<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">]
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="./img/favicon-32x32.png">
    <title>Book Library</title>
</head>
<body>
    <div class="add-button">
        <a href="" id="newBook">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-library-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 3m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" /><path d="M4.012 7.26a2.005 2.005 0 0 0 -1.012 1.737v10c0 1.1 .9 2 2 2h10c.75 0 1.158 -.385 1.5 -1" /><path d="M11 10h6" /><path d="M14 7v6" /></svg>
            <span>Got a new book?</span>
        </a>
        
    </div>

    <section class="main">
        <div class="bookshelf">
            <div class="bookshelf-title"><h2>Bookself</h2></div>
            <!-- <div class="card">
                <h1 class="name">
                    JAPAN
                </h1>
                <div class="bottom">
                    <div class="flagger">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/640px-Flag_of_Japan.svg.png" alt="" class="flag">
                    <p class="rating">
                        <svg viewBox="0 0 576 512" width="100" title="star">
              <path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
            </svg> 4.7
                    </p>	
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet porroneu amttieum rebodo.</p>
                        <div class="line"></div>
                        <button>Learn More</button>
                    </div>
                </div>
            </div> -->
            <div class="books" id="data">
            </div>
            <!-- <form id="formBook">
                <input type="text" id="title" name="title" placeholder="title">
                <input type="text" id="author" name="author" placeholder="author">
                <input type="text" id="genre" name="genre" placeholder="genre">
                <input type="file" id="cover" name="cover">
                <input type="text" id="publish_date" name="publish_date" placeholder="publish date"> 
            </form> -->
            
            <!-- <a href="">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-matchstick"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l14 -9" /><path d="M17 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M17 3l3.62 7.29a4.007 4.007 0 0 1 -.764 4.51a4 4 0 0 1 -6.493 -4.464l3.637 -7.336z" /></svg>
                <span>Burn book</span>
            </a>
            <a href="">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-sparkles"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16 18a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm0 -12a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm-7 12a6 6 0 0 1 6 -6a6 6 0 0 1 -6 -6a6 6 0 0 1 -6 6a6 6 0 0 1 6 6z" /></svg>
                <span>Modernize book</span>
            </a> -->
        </div>
    </section>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" id="close">&times;</span>
            <form id="formBook">
                <h2>What book is it?</h2>
                <input type="text" name="title" id="title" placeholder="title">
                <input type="text" name="author" id="author" placeholder="author">
                <input type="text" name="author" id="genre" placeholder="genre">
                <label for="cover">Cover</label>
                <input type="file" name="cover" id="cover" accept="image/*">
                <input type="text" name="publish_date" id="publish_date" placeholder="publish date">
                <button type="submit" id="addButton">Add book</button>
            </form>
        </div>
    </div>
    

    <script src="./js/app.js"></script>
</body>
</html>